.plant-img-center {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.main-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.div-center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

h1 {
text-align: center
}

h3 {
  text-align: center
}

nav {
  text-align: center
}

header {
  background-color: black;
  color: white
}

footer {
  background-color: black;
  color: white;
}
